<h2>Hello There! {{name}}!</h2>
<p>We're happy happy happpy to anouce that your pretty pretty face was assingned to our services!
  under the {{email}}, don't loose a sec and start to organize ur projects with us!
</p>
